.container{
  min-height: 100vh;
  background: #eee;
  padding: 50px;
}

.posts{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.post{
  background-color: #fff;
  box-shadow: 0 0 10px #757575;
  transition: transform 100ms ease-in-out;
}

.post:hover{
  transform: scale(1.05);
}

.post-content{
  padding: 30px;
}

.post img{
  max-width: 100%;
}
